<h1>Listing Barbers</h1>
<h3><%= link_to 'New Barber', new_barber_path %></h3>
<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Personal Bio</th>
  </tr>

  <% @barbers.each do |barber| %>
    <tr>
      <td><%= barber.username %></td>
      <td><%= barber.name %></td>
      <td><%= barber.personal_bio %></td>
      <td><%= link_to 'Show', barber_path(barber) %></td>
      <td><%= link_to 'Edit', edit_barber_path(barber) %></td>
      <td><%= link_to 'Destroy', barber_path(barber),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
