<h1>New Barber</h1>
<%= form_for :barber, url: barbers_path do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :name%><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :personal_bio%><br>
    <%= f.text_area :personal_bio %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
